body {
    h1 {
        font-family: 'Times new roman', cursive; /* Menggunakan font Times new roman font untuk judul */
    }    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: pink;
}

.logo {
    width: 80px;
}

header h1 {
    margin-left: 50px;
}

footer {
    position: relative;
}

.product-image {
    height: 50px;
    object-fit: cover;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}
